.art {
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    margin: 30px 0px 80px 0px;
}

.art--rubrique {
    margin-top: 40px;
}

.art__title {
    font-family: 'Clicker Script', cursive;
    font-size: 48px;
    color: #3B1F2B;
}

.title--rubrique {
    font-size: 60px;
}

.art__sstitle {
    font-family: 'Lora', serif;
    color: #E0B7B7;
    font-size: 23px;
    margin-bottom: 20px;
}

.sstitle--rubrique {
    color: #29524A;
    font-size: 28px;
}

.art__titleprojet {
    font-family: 'Lora', serif;
    color: #29524A;
    font-size: 28px;
}

.art__logo {
    width: 60px;
    background-color:#E0B7B7;
    border-radius: 60px;
    margin: 0 5px 15px 5px;
    padding: 5px;
}

.art--projet {
    text-align: left;
    margin-top: 30px;
}

.projet--link {
    margin-bottom: 40px;
}

.projet--img {
    width: 100px;
    float: left;
    border: 1px solid black;
    box-shadow: 10px 10px 0 #E0B7B7;
    margin: 10px 20px 10px 10px;
}

.sstitle--projet {
    font-family: 'Lora', serif;
    color: #29524A;
    font-size: 28px;
    padding-top: 10px;
    margin-bottom: 5px;
    text-decoration: none;
}

.sstitle--projet .projet--arg {
    margin-left: 10px;
}

.projet--arg {
    font-size: 14px;
}

@media screen and (min-width:670px) {
    .art__title {
        font-size: 90px;
    }

    .art__sstitle {
        font-size: 38px;
    }
}

@media screen and (min-width:768px) {
    .title--rubrique {
        font-size: 135px;
    }

    .rubrique {
        position: absolute;
        top: 400px;
        right: 20px;
        left: 20px;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
    }
}

@media screen and (min-width:992px) {
    .art__title {
        font-size: 90px;
        text-align: left;
    }

    .art__sstitle {
        font-size: 38px;
        text-align: left;
    }

    .art__name {
        position: absolute;
        top: 15%;
        left: 38%;
        background-color: #ffffff;
        padding: 10px 25px 0 20px;
        margin: 0;
        box-sizing: border-box;
    }

    .title--rubrique {
        font-size: 162px;
        text-align: center;
    }

    .art {
        padding: 10px;
        margin: 122px 30px 30px 30px;
    }

    .rubrique {
        top: 422px;
    }

    .welcome__title{
        font-size: 28px;
    }

    .art--rubrique {
        margin: 50px 0 0 0;
    }

    .rubrique {
        position: absolute;
        bottom: 5px;
        right: 20px;
        left: 20px;
        background-color: #ffffff;
        padding: 20px;
        margin: 10px;
    }

    .sstitle--rubrique {
        text-align: center;
    }

    .art__logo {
        margin: 0 5px 5px 5px;
        padding: 0;
    }

    .art--projet {
        display: flex;
        width: auto;
    }

    .projet--link {
        margin-bottom: 0;
    }

    .projet--img {
        float: none;
    }

    .sstitle--projet, .art--projet {
        text-align: center;
    }
}

@media screen and (min-width:1024px) {
    .art__name {
        padding: 10px 45px 0 20px;
    }
}

@media screen and (min-width:1280px) {
    .rubrique {
        margin: 0;
        padding: 10px;
    }

    .rubrique--competance {
        bottom: -150px;
        padding: 20px 20px 40px 20px;
        margin: 10px 10px 40px 10px;
    }

    .art--projet {
        bottom: -100px;
        padding: 20px 20px 40px 20px;
        margin: 10px 10px 40px 10px;
    }
 
}

@media screen and (min-width:1440px) {
    .art__title {
        font-size: 130px;
    }

    .art__sstitle {
        font-size: 55px;
    }

    .art__name {
        top: 12%;
        left: 36%;
        padding: 10px 78.5px 0 20px;
        margin: 0;
    }

    .welcome__title{
        font-size: 34px;
    }

    p {
        font-size: 20px;
        padding: 0 40px;
    }

    .title--rubrique {
        font-size: 200px;
    }

    .rubrique {
        padding: 20px 0 0 0;
        margin: 230px 0 20px 0;
    }

    .projet--img {
        width: 150px;
    }

    .art--projet {
        display: inline-flex;
        justify-content: center;
    }

    .projet--link {
        margin: 0 20px;
    }
}