.footer {
    text-align: center;
    background-color: #3B1F2B;
    height: 150px;
}

.copyright {
    padding-top: 30px;
    color: #ffffff;
    font-size: 12px;
    margin: 15px 0 0 0;
}

@media screen and (min-width:768px) {
    .copyright {
        margin-top: 60px;
    }
}