.navbar {
    font-family: 'Montserrat Alternates', sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.nav-link:hover {
    background-color: #E0B7B7;
}

@media screen and (min-width:992px) {
    .navbar {
        position: absolute;
        bottom: 350px;
        border-top: 1px solid #888888;
        border-bottom: 1px solid #888888;
    }

    .nav-link {
        margin: 0 42px 0 42px;
        padding: 0;
    }
}

@media screen and (min-width:1280px) {
    .navbar {
        bottom: 220px;
    }

    .nav-link {
        margin: 0 70px 0 70px;
    }
}

@media screen and (min-width:1400px) {
    .navbar {
        bottom: 450px;
    }

    .nav-link {
        margin: 0 85px 0 85px;
        padding: 5px;
    }
}